@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
nav {
  background-color: #fefbf4;
}
nav h1 {
  font-size: 2rem;
  padding: 1rem 0 1rem 1rem;
}
nav .nav-item {
  padding-left: 1rem;
}
nav .nav-link {
  color: #000;
}
nav .activo {
  color: #c8aee6;
}

.projects {
  width: 100%;
  background-color: #000;
}
.projects .projects-1, .projects .projects-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects .projects-1 img, .projects .projects-2 img {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.projects h2 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}

.mov {
  width: 100%;
  height: 5rem;
  background-color: #f9e2c2;
}
.mov h3 {
  font-size: 1.5rem;
  line-height: 5rem;
}

.card {
  border: none;
  text-align: center;
  background-color: #fefbf4;
}
.card img {
  border-radius: 0px !important;
}
.card .pepsico-modif, .card .saber-modif {
  padding-bottom: 6rem;
}
.card .pepsico-modif h4, .card .saber-modif h4 {
  font-size: 2rem;
  padding-top: 2rem;
}
.card .pepsico-modif p, .card .saber-modif p {
  font-size: 1.2rem;
}
.card .pepsico-modif a, .card .saber-modif a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

footer {
  width: 100%;
  height: 6rem;
  background-color: #000;
}
footer h5, footer h4, footer h3 {
  color: #fff;
  font-size: 1.6rem;
  margin-left: 1rem;
  float: left;
  line-height: 5.5rem;
}
footer .social-medias {
  text-align: right;
}
footer .social-medias i {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 1rem;
  line-height: 5.5rem;
}

.text-black {
  width: 100%;
  height: 5rem;
  background-color: #000;
  text-align: center;
}
.text-black h2 {
  color: #fff;
  line-height: 5rem;
  font-size: 1.8rem;
}

.my-description {
  width: 100%;
  text-align: center;
}
.my-description img {
  width: 100%;
  object-fit: cover;
}
.my-description .description {
  background-color: #fefbf4;
  height: auto;
}
.my-description .description h3 {
  padding: 1.5rem 0;
}
.my-description .description p {
  padding: 0rem 1rem;
}
.my-description .description p:last-child {
  padding-bottom: 2rem;
  margin-bottom: 0px;
}

.text-modif {
  background-color: #fefbf4;
}
.text-modif h3 {
  padding-top: 5rem;
  font-size: 2rem;
}
.text-modif p {
  font-size: 1.1rem;
  padding: 1rem 1rem 5rem 1rem;
}

.my-work {
  width: 100%;
  background-color: #fefbf4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.my-work img {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}

form {
  width: 100%;
  background-color: #fefbf4;
  text-align: center;
}
form .name {
  padding-top: 2rem;
}
form .name input {
  width: 70%;
}
form div:not(.name, .enviar) {
  padding-top: 1rem;
}
form div:not(.name, .enviar) input {
  width: 70%;
}

input::placeholder, textarea::placeholder {
  color: #000;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

textarea {
  width: 70%;
  resize: none;
}

.enviar {
  padding: 1.5rem 0rem 3rem;
}
.enviar .btn-submit {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 48rem) {
  .navbar h1 {
    font-size: 2.5rem;
  }
  .projects .projects-1, .projects .projects-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects h2 {
    font-size: 3rem;
  }
  .card .saber-modif, .card .pepsico-modif {
    padding-bottom: 0rem;
  }
  .saber-hacer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer h5, footer h4, footer h3 {
    font-size: 2rem;
  }
  footer .social-medias i {
    font-size: 1.4rem;
  }
  .text-modif h3 {
    padding-top: 2rem;
  }
  .text-modif p {
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .img-left {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 56.25rem) {
  .nav-item a:hover {
    color: #c8aee6;
  }
  .projects .projects-1, .projects .projects-2 {
    grid-template-columns: repeat(6, 1fr);
  }
  .card .pepsico-modif h4, .card .saber-hacer h4 {
    padding-top: 4rem;
  }
  .card .pepsico-modif a:hover, .card .saber-hacer a:hover {
    background-color: #c8aee6;
    transition: all 0.5s;
  }
  .text-black h2 {
    font-size: 2.5rem;
  }
  .my-description {
    display: grid;
    grid-template-areas: "belu-photo description" "belu-gif description";
  }
  .my-description .belu-photo {
    grid-area: belu-photo;
  }
  .my-description .belu-photo img {
    height: 25rem;
  }
  .my-description .belu-gif {
    grid-area: belu-gif;
    height: 25rem;
  }
  .my-description .description {
    grid-area: description;
  }
  .my-description .belu-gif {
    background-image: url(../images/belu.gif);
    background-position: center;
    background-size: cover;
  }
  .text-modif h3 {
    padding-top: 3rem;
  }
  .my-work {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .btn-submit:hover {
    background-color: #c8aee6;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 62rem) {
  .text-modif h3 {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 64rem) {
  .nav-item a {
    font-size: 1.2rem;
  }
  .projects h2 {
    font-size: 3.5rem;
  }
  .mov marquee h3 {
    font-size: 2rem;
  }
  .card .pepsico-modif h4 {
    font-size: 2rem;
  }
  .card .pepsico-modif p {
    font-size: 1.5rem;
  }
  .card .pepsico-modif a {
    font-size: 1.5rem;
  }
  .card .saber-modif h4 {
    font-size: 2rem;
    padding-top: 5rem;
  }
  .card .saber-modif p {
    font-size: 1.5rem;
  }
  .card .saber-modif a {
    font-size: 1.5rem;
  }
  .my-description .description h3 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  .my-description .description p {
    font-size: 1.1rem;
  }
}
.text-modif h3 {
  font-size: 2rem;
}
.text-modif p {
  font-size: 1.1rem;
}

@media screen and (min-width: 77.5rem) {
  .card .pepsico-modif h4 {
    padding-top: 6rem;
  }
  .card .pepsico-modif p {
    padding-bottom: 2rem;
  }
  .card .saber-modif h4 {
    padding-top: 8rem;
  }
  .card .saber-modif p {
    padding-bottom: 2rem;
  }
  footer h5, footer h4, footer h3 {
    font-size: 2.5rem;
  }
  footer .social-medias i {
    font-size: 1.8rem;
  }
  .card .text-modif h3 {
    padding-top: 7rem;
    font-size: 2.5rem;
  }
  .card .text-modif p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 90rem) {
  .projects h2 {
    font-size: 4rem;
  }
  .card .pepsico-modif h4 {
    padding-top: 7.5rem;
    font-size: 2.8rem;
  }
  .card .pepsico-modif p {
    font-size: 1.7rem;
  }
  .card .saber-modif h4 {
    padding-top: 8.5rem;
    font-size: 2.8rem;
  }
  .card .saber-modif p {
    font-size: 1.7rem;
  }
  .my-description .description h3 {
    font-size: 2.5rem;
  }
  .my-description .description p {
    font-size: 1.2rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
  .card .text-modif h3 {
    padding-top: 8rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
